body {
    opacity: 1;
    transition: 2s opacity;
    font-weight: bold;
}

body.fade-out {
    opacity: 0;
    transition: none;
}


.bar {
    margin-top: 8px;
    color: lightgrey;
}

.navbar {
    /* text-transform: uppercase; */
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 3%;
    background-color: black;
    height: 40px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: lightgray;
}

.dropdown-menu {
    background-color: #000000;
    margin-left: 7%;
    text-align: center;
}

.dropdown-menu a:hover {
    color: #000000;
    text-align: center;
}

@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }

    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
        color: white;
    }
}

.logo {
    width: 40%;
    margin-left: 28%;
}

footer {
    background-color: #000000;
    color: white;
    margin-top: 10%;
    width: 100%;
    padding: 15px;
}

.footer-text {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    padding-left:5%;
}

.copyright {
    padding-top: 35px;
}

.contact-info {
  padding-top: 15px;
}


/* Homepage */

.concept {
    width: 54%;
    margin-left: 21%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}

hr {
    width: 45%;
}

#world-map {
    width: 100%; 
    height: 100%;
    padding-top: 30px;
    padding-right: 170px;
    
}

#city-background {
    background-image: url("../images/step-and-repeat.png");
    height: 515px;
    width: 100%;
}

  #services img {
    border: 2px solid black;
    width: 33%;
    margin-top: 50px;
    display: inline-block;
    margin-left: 10%;
    text-align: center;
}

.service-options {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin-top: 75px;
    width: 85%;
    margin-left: 8%;
}

.service-options h2 {
    text-decoration: underline;
    margin-bottom: 15px;
}

  /* Contact Page */

  .contact-form {
      width: 75%;
      margin-left: 12%;
      margin-top: 5%;
      background-color: black;
      color: white;
      border-radius: 25px;
      font-family: 'Playfair Display SC', serif;
      padding: 20px 0px;
  }

  form {
      padding: 20px 25px;
      width: 80%;
      margin-left: 12%;
  }

  .form-title {
      text-align: center;
      padding-top: 35px;
  }

  .form-directions {
      width: 75%;
      margin-left: 15%;
      margin-top: 2%;
  }

  #submit {
    background-color: #004d00;
    margin-top: 5px;
  }


/* Editing */

.container {
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

ul {
    list-style-type: square;
    margin-left: 100px;
    /* line-height: 40px; */
}

.container h2 {
    text-align: center;
    margin-bottom: 25px;
}
.left-column {
    /* line-height: 55px; */
    margin-right: 25px;
    opacity: 1;
    position: relative;
    -webkit-animation-name: text-slide-left; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: text-slide-left;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes text-slide-left {
    0%   {opacity: 0; left:-500px; top:0px;}
    100% {opacity: 100%; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes text-slide-left {
    0%   {opacity: 0; left:-500px; top:0px;}
    100% {opacity: 100%; left:0px; top:0px;}
}

.right-column {
    margin-bottom: 25px;
    margin-top: 20px;
    opacity: 1;
    position: relative;
    -webkit-animation-name: text-slide-right; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: text-slide-right;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes text-slide-right {
    0%   {opacity: 0; left: 1000px; top:0px;}
    100% {opacity: 100%; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes text-slide-right {
    0%   {opacity: 0; left: 1000px; top:0px;}
    100% {opacity: 100%; left:0px; top:0px;}
}

.services-list {
    opacity: 1;
    position: relative;
    -webkit-animation-name: text-slide-bottom; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: text-slide-bottom;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes text-slide-bottom {
    0%   {opacity: 0; left: 0px; top:500px;}
    100% {opacity: 100%; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes text-slide-bottom {
    0%   {opacity: 0; left: 0px; top:500px;}
    100% {opacity: 100%; left:0px; top:0px;}
}

.left-column-2 {
    /* line-height: 55px; */
    margin-right: 25px;
    opacity: 1;
    position: relative;
    -webkit-animation-name: text-slide-left-2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: text-slide-left-2;
    animation-duration: 2s;
}

.left-column-3 {
    margin-right: 25px;
    opacity: 1;
    position: relative;
    -webkit-animation-name: text-slide-left-2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: text-slide-left-2;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes text-slide-left-2 {
    0%   {opacity: 0; left:-500px; top:0px;}
    100% {opacity: 100%; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes text-slide-left-2 {
    0%   {opacity: 0; left:-500px; top:0px;}
    100% {opacity: 100%; left:0px; top:0px;}
}

.coaching-services {
    margin-left: 1%;
    /* line-height: 50px; */
    opacity: 1;
    position: relative;
    -webkit-animation-name: text-slide-bottom-2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: text-slide-bottom-2;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes text-slide-bottom-2 {
    0%   {opacity: 0; left: 0px; top:500px;}
    100% {opacity: 100%; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes text-slide-bottom-2 {
    0%   {opacity: 0; left: 0px; top:500px;}
    100% {opacity: 100%; left:0px; top:0px;}
}


#confirmation {
    position: relative;
    background-color: black;
    width: 48%;
    color: white;
    margin-left: 23%;
    height: 60%;
    border-radius: 8px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


#popuptext {
    padding: 35px;
    text-align: center;
}

#popuptext a {
    margin: 35px;
    background-color: #004d00;
    font-size: 18px;
}